node_modules/
package-lock.json

public/music/*.mp3
public/music/*.flac
public/music/*.m4a
public/music/*.ogg
public/music/*.wav
public/music/*.aac
public/music/*.jpg
public/music/*.jpeg
public/music/*.png
public/music/*.webp

public/music/*.MP3
public/music/*.FLAC
